@import '../../consts/vars';

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.generateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.paramsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.errorMsg {
    font-size: large;
    color: $third_colour;
}