@import '../../consts/vars';

.mainContainer {
    border: none;
    border-radius: 10px;
    padding: 10px;

    cursor: pointer;

    font-size: large;

    font-weight: 800;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        background-color: rgb(243, 222, 100);
        color: rgb(194, 161, 16);
    }
}

.colourFirst {
    background-color: $first_colour;
}

.colourSecond {
    background-color: $second_colour;
}

.colourThird {
    background-color: $third_colour;
}