@import '../../consts/vars';

.mainContainer {}

.title {
    font-size: large;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.tableContainer {
    display: grid;

    grid-auto-rows: 80px;
    border: 2px solid black;
}