@import '../../consts/vars';


.mainContainer {
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.customInput {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}


.valid {
    border: 2px solid green;
}

.inValid {
    border: 2px solid red;
}